modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start Development"

[[workflows.workflow]]
name = "Start Development"
author = 47127426
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx hardhat node"

[[ports]]
localPort = 8545
externalPort = 80
